[Unit]
Description=Cloud Commander Service
DefaultDependencies=no
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/cloudcmd
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Cloud Commander Service
User=test

[Install]
WantedBy=multi-user.target

